XTerm*Background: black
XTerm*Foreground: green
XTerm*PointerColor: red
XTerm*PointerColorBackground: white
XTerm*CursorColor: orange
XTerm*InternalBorder: 4
XTerm*ScrollBar: false
XTerm*Font: -*-terminus-bold-*-*-*-*-*-*-*-*-*-*-*
XConsole*Background: gray8
XConsole*Foreground: orange
XConsole*PointerColor: red
XConsole*PointerColorBackground: white
XConsole*CursorColor: orange
XConsole*InternalBorder: 4
XConsole*ScrollBar: false
